Repository ufcg-lsd/saps-engine, pull requests merged in 2020-03, with the labels that each got.

#88 Fogbow dependencies removal
  pom.xml
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/swift/SwiftPermanentStorage.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/email/GoogleMail.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/email/ProcessedImagesEmailBuilder.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/email/keystone/KeystoneV3IdentityRequestHelper.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/restlet/resource/ProcessedImagesResource.java
  src/test/java/org/fogbowcloud/saps/engine/core/dispatcher/email/keystone/KeystoneV3IdentityPluginTest.java
  src/test/resources/dispatcher-test.conf
Labels: enhancement, refactor

#92 Feature/nfs generate link
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/ArchiverMain.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/AccessLink.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/PermanentStorage.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/exceptions/TaskNotFoundException.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/nfs/NfsPermanentStorage.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/swift/SwiftPermanentStorage.java
  src/main/java/org/fogbowcloud/saps/engine/utils/SapsPropertiesConstants.java
  src/test/java/org/fogbowcloud/saps/engine/core/archiver/storage/NfsPermanentStorageTest.java
Labels: feature, test

#95 Doc/scheduler deploy
  config/log4j.properties
  config/scheduler.conf
  docs/scheduler-install.md
Labels: doc

#97 Doc/upgrade scheduler deploy
  docs/input-downloader-install.md
  docs/install-overview.md
  docs/preprocessor-install.md
  docs/scheduler-install.md
Labels: doc, enhancement

#99 Doc/dispatcher deploy
  config/dispatcher.conf
  docs/dispacher-install.md
Labels: deletion, doc

#90 Feature/swift generate link
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/Archiver.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/ArchiverMain.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/AccessLink.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/PermanentStorage.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/exceptions/InvalidPropertyException.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/exceptions/PermanentStorageException.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/exceptions/TaskNotFoundException.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/nfs/NfsPermanentStorage.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/swift/SwiftAPIClient.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/swift/SwiftPermanentStorage.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/swift/SwiftPermanentStorageException.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/email/ProcessedImagesEmailBuilder.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/email/keystone/IdentityToken.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/email/keystone/KeystoneV3IdentityRequestHelper.java
  src/main/java/org/fogbowcloud/saps/engine/utils/SapsPropertiesConstants.java
  src/test/java/org/fogbowcloud/saps/engine/core/archiver/storage/NfsPermanentStorageTest.java
  src/test/java/org/fogbowcloud/saps/engine/core/archiver/storage/SwiftPermanentStorageTest.java
  src/test/java/org/fogbowcloud/saps/engine/core/archiver/storage/swift/SwiftAPIClientTest.java
  src/test/java/org/fogbowcloud/saps/engine/core/dispatcher/email/keystone/KeystoneV3IdentityPluginTest.java
  src/test/resources/config/archiver/debug-mode.conf
  src/test/resources/config/archiver/debug-mode.failconf
  src/test/resources/config/archiver/normal-mode.conf
  src/test/resources/config/archiver/normal-mode.failconf
Labels: deletion, design, feature, refactor, test

#101 Improvement/catalog doc
  docs/catalog-install.md
Labels: doc, enhancement

#98 Refactor/integrate generation link
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/AccessLink.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/swift/SwiftAPIClient.java
  src/main/java/org/fogbowcloud/saps/engine/core/archiver/storage/swift/SwiftPermanentStorage.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/email/ProcessedImagesEmailBuilder.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/email/TaskCompleteInfo.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/email/TasksEmailSender.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/restlet/DatabaseApplication.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/restlet/resource/EmailResource.java
  src/main/java/org/fogbowcloud/saps/engine/core/dispatcher/restlet/resource/ProcessedImagesResource.java
  src/main/java/org/fogbowcloud/saps/engine/utils/SapsPropertiesConstants.java
  src/test/java/org/fogbowcloud/saps/engine/core/archiver/storage/NfsPermanentStorageTest.java
  src/test/java/org/fogbowcloud/saps/engine/core/archiver/storage/SwiftPermanentStorageTest.java
  src/test/java/org/fogbowcloud/saps/engine/core/dispatcher/email/TaskCompleteInfoTest.java
  src/test/java/org/fogbowcloud/saps/engine/core/dispatcher/email/keystone/KeystoneV3IdentityPluginTest.java
  src/test/resources/config/archiver/debug-mode.conf
  src/test/resources/config/archiver/debug-mode.failconf
  src/test/resources/config/archiver/normal-mode.conf
  src/test/resources/config/archiver/normal-mode.failconf
Labels: deletion, design, refactor

#107 Improvement/archiver doc
  docs/archiver-install.md
Labels: doc, enhancement

#104 Hotfix/get tasks from catalog
  src/main/java/org/fogbowcloud/saps/engine/core/catalog/jdbc/JDBCCatalog.java
  src/main/java/org/fogbowcloud/saps/engine/core/catalog/jdbc/JDBCCatalogConstants.java
Labels: bug

#113 Improve dispatcher doc
  docs/dispacher-install.md
Labels: doc, enhancement
